{% load staticfiles %}
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery !-->
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/icon.css' %}">

  <!-- Compiled and minified JavaScript -->
  <script src="{% static 'js/materialize.js' %} "></script>
<script src="{% static 'js/jquery.min.js' %}"> </script>

<style>

    body{
       margin-top:15%;
    }
</style>


<body>
<div class="container">
<div class="row">
    <form class = "col l8" action="worldsearch/otp" method="POST">
            {% csrf_token %}
            {% if required %}
                <h5>Wrong Otp</h5>
            {% endif %}
            <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">vpn_key</i>
                  <input id="icon_prefix" type="text" name="otp" class="validate">
                </div>
           </div>

             <div class="row" id="sub">
                <center>
                <button class="btn waves-effect waves-light" type="submit" name="action">Verify OTP<i class="material-icons right">add</i></button>
                </center>
             </div>

         </form>
</div>
</div>
</body>
</html>
